#root {
  padding: 15px 15px 15px 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
  background-color: lightgrey;
  padding: 10px 10px 10px 20px;
}

.heading-one{
  font-size: 20;
  font-weight: bold;
}

.input-text {
  width: 50%;
  height: 35px;
  padding-left: 15px;
}